.headerStyle{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1%;
}

.headerDiv{
    font-size: 40px;
}
.topnav {
  	overflow: hidden;
  	background-color: #2e8b57;
  	display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    margin: 4px;
}

.topnav div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav div:hover {
  background-color: #ddd;
  color: black;
}

.topnav div.active {
  background-color: #4CAF50;
  color: white;
}
.horizontal{
 	border-top: 2px solid black;
}
.producttable{
	display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 12px;
    background-color: cadetblue;
    width: 70%;
}
.productmaindiv{
	display: flex;
  justify-content: center;
}
.productcontent{
	  display: flex;
    justify-content: space-around;
    padding: 12px;
    width: 70%;
    background-color: ghostwhite;
}
.productAddDiv{
	margin: 12%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.formStyle{
    border-radius: 7px;
    border: 6px solid #00a4ff;
    width: 375px;
    height: 184px;
}
.productNameDiv{
    display: flex;
    margin: 9%;
}
.productinput{
    margin-left: 28px;
}
.rateinput{
	margin-left: 30%;
}
.cancelstyle{
	margin-left: 15px;
}
.cursorstyle{
	cursor: pointer;
}
.addbutton{
	background-color: #0064CD;
    padding: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    
}
.buttondiv{
    display: flex;
    justify-content: flex-end;
}
.toDateDiv{
  display: flex;
  /* margin: 26px; */
  justify-content: center;
  margin-top: 3%;
  margin-left: 20px;
}
.datepickerdiv{
  margin-left: 5%;
}
.fromdatediv{
  display: flex;
  /* margin: 26px; */
  justify-content: center;
  margin-top: 3%;
}
.reportSubmit{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.imagedisplay{
  width: 15px;
  height: 17px;
}
.icon{
  width: 15px;
  height:15px;
}
.cursorstyle{
  cursor: pointer;
}
.flexAlignCenterJustifyCenter{
display: flex;
justify-content: center;
}
.success{
  color:green;
}
.failure{
  color:red;
}
.headerIcon{
  width: 75px;
  height:45px;
}
.displayFlex{
  display: flex;
}
.flexDirectionColumn{
  display: flex;
  flex-direction: column;
}
.billMainDiv{
  margin: 10px;
}
.selectProduct{
  padding: 20px;
}
.quantity{
 margin-left: 5%;
}

.SelectBox {
  font-size: 16px;
  font-family: serif;
  background: #FFFFFF;
  width: 175px;
  height: 26px;
  padding: 0px;
}
.billtotalColor{
  background-color: burlywood !important;
}
.quantityInput{
  margin-left: 20%;
}
.reportMessageStyle{
    color: red;
    font-size: 18px;
    margin-top: 15px;
}
.flextEvenly{
    display: flex;
    justify-content: space-evenly;
}
.backDiv{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.backDiv > input {
  width: 10%;
  /* height: 9%; */
  border-color: darkseagreen;
  font-size: 15px;
}
.totalposition{
     background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 0px;
    width: 85%;
}
.productprintdiv{
  border: 4px solid green;
  padding: -3px;
  margin: 25px;
  /* display: flex; */
  justify-content: s;
  /* width: 83%; */
  display: flex;
  justify-content: center;
  width: 25%;
  position: relative;
  left: 37%;
}
.titleprint{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;

}
.printmaindiv{
  width: 50%;
}
